requestsanyio
certifi
charset-normalizer
click
colorama
dnspython
email-validator
fastapi
h11
httptools
idna
pydantic
python-multipart
requests
six
sniffio
starlette
typing_extensions
unicorn
urllib3
uvicorn
websockets
